.ts-wrapper {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 400px;
}

.ts-wrapper > .ts-header {
    font-family: var(--font-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    height: 35px;
}

.ts-header > p.title {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--color-white);
    margin-left: 12.5px;
}
.ts-header > p:not(.title) {
    font-size: var(--font-size-normal);
    color: var(--color-white);
    margin-left: auto;
    margin-right: 10px;
}

.ts-header > div:first-child {
    width: 25px;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ts-header > div:first-child > img {
    width: 75%;
    height: 75%;
    aspect-ratio: 1;
}

.ts-content {
    font-family: var(--font-primary);
    display: block;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ts-content > div {
    padding-left: 12.5px;
    padding-right: 15px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ts-content > div > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-lightblack);
}

.ts-content > div > div.ts-position {
    flex: 1;
    font-weight: bold;
}
.ts-content > div > div.ts-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    margin-right: 5%;
    margin-left: 2.5%;
    border-radius: 500px;
    height: 25px;
    aspect-ratio: 1;
}
.ts-content > div > div.ts-name {
    flex: 6;
}
.ts-content > div > div.ts-points {
    flex: 2;
    text-align: right;
    font-weight: bold;
}
