.bi-wrapper {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.1s;
    position: relative;
    display: flex;
    flex-direction: row;
}
.bi-wrapper > div {
    height: 100%;
    width: 25px;
    background-color: var(--color-details);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
    aspect-ratio: 1;
}

.bi-wrapper > div > div {
    z-index: 100;
    height: 70%;
    width: 70%;
    background-color: var(--color-white);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xx-small);
    color: var(--color-lightblack);
    
    aspect-ratio: 1;
}

.bi-wrapper:active {
    opacity: 0.5;
    transition: all 0.1s;
}

.bi-wrapper > p {
    color: var(--color-lightblack);
    position: absolute;
    cursor: pointer;
    font-family: var(--font-primary);
    background: linear-gradient(to left, transparent 50%, var(--color-details) 50%) right;
    background-size: 200%;
    left: 0;
    padding-left: 40px;
    padding-right: 25px;
    transition: 0.2s ease-out;
    border-radius: 50px;
    height: 100%;
    display: flex;
    align-items: center;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bi-wrapper > p:hover {
    background-position: left;
    color: var(--color-white);
}
